---
# Basé sur le style LLVM
BasedOnStyle: LLVM

# Largeur maximale de ligne
ColumnLimit: 80

# Indentation
IndentWidth: 2
TabWidth: 2
UseTab: Never

# Gestion des accolades
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# Espaces autour des opérateurs
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Alignements
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true

# Gestion des includes
IncludeBlocks: Preserve
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^<.*>'
    Priority: 2
  - Regex: '.*'
    Priority: 3
SortIncludes: true

# Gestion des pointeurs et références
PointerAlignment: Right
ReferenceAlignment: Right

# Paramètres des fonctions
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackParameters: false
BinPackArguments: false

# Gestion des lambdas
LambdaBodyIndentation: Signature

# Divers
Cpp11BracedListStyle: true
FixNamespaceComments: true
IndentCaseLabels: true
IndentGotoLabels: true
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
ReflowComments: true
SortUsingDeclarations: true
SpacesInContainerLiterals: false

# Gestion des chaînes de caractères
BreakStringLiterals: true

...
